body{
    font-family: sans-serif;
}

#root {
    color: black;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width = 95%;
    background-color: dimgray;
}

.genreList {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.item {
    padding: 8px;
    margin: 4px;
    background-color: white;
    border-radius: 25px;
}

.genre{
    padding: 2px;
    margin: 2px;
    border-radius: 25px;
    background-color: lightcyan;
    color: blue;
    border-bottom: solid;
    border-width: 2px;
    border-color: steelblue;
}

.genreBox {
    border: solid;
    border-width: 2px;
    border-color: steelblue;
}
.genresHeading {
    text-align: left;
    padding:2px;
    margin: 2px;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item h2 {
    border-radius: 25px;
    padding: 0.5em;
    text-align: center;
    border: solid;
    border-color: steelblue;
}

.season_ep {
    text-align: center;
    font-weight: bold;
}

.summary p {
    text-align: left;
}

.copyright {
    font-size: small;
    text-align: right;
}

.filterbox {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.showsBox {
    text-align: center;
    background-color: lightyellow;
    padding: 10px;
}
